@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gg-light-gray;
}

.bg {
  background-color: #000000;
  background-size: cover;

  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.bg:after {
  content: "";
  width: 200%;
  height: 0;
  padding-top: 200%;
  border-radius: 100%;
  background: #f7f7f7;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
